* {
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 1;
}

.menu {
  display: flex;
  margin-left: 36.5%;
}
.menu_item {
  text-decoration-line: none;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.menu_item:hover {
  color:rgb(255, 239, 97);
}

/* About */
.about {
  display: flex;
  justify-content: space-around;
  }
.about h1 {
    text-align: center;
    font-size:40px;
    margin-top: 8px;
    text-shadow: 2px 2px 2px rgb(30, 30, 30);
  }
.about__introduce {
    font-family: 'Palanquin Dark', sans-serif;
    margin-top: 12px;
    color:#ebd9f8;
  }
  
.about__introduce img {
    width: 300px;
    height: 300px;
  }

/* Tmi */
  .tmicontainer {
    font-family: 'Palanquin Dark', sans-serif;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .tmilist {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .tmilist p {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 30px;
    line-height: 3.0;
  }
  .tmilist p:hover {
    font-size: 0;
  }
  .tmilist p:hover::before {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }
  .tmilist #tmi1:hover:before {
    content: '2002.04.18';
  }
  .tmilist #tmi2:hover:before {
    content: 'Mom & Dad';
  }
  .tmilist #tmi3:hover:before {
    content: 'Everything';
  }
  .tmilist #tmi4:hover:before {
    content: 'Business Administration';
  }
  .tmilist #tmi5:hover:before {
    content: 'Seocho, Seoul';
  }
  .tmilist #tmi6:hover:before {
    content: 'Puppy';
  }
  .tmilist #tmi7:hover:before {
    content: 'Designer';
  }
  .tmilist #tmi8:hover:before {
    content: 'Be Happy';
  }
  .tmilist #tmi9:hover:before {
    content: 'ESFJ';
  }

